<div id="{{ jsgrid.jsgridName }}"></div>
<div style="display: none;">
{% include "forms/form.html.twig" with {form: forms(jsgrid.formName)} %}
</div>

<script>
 
    var countries = [
        { name: "", id: 0 },
        { name: "United States", id: "1" },
        { name: "Canada", id: "2" },
        { name: "United Kingdom", id: "3" }
    ];
    
    var form_jsgrid   = $('#{{ jsgrid.formId }}');
    
    function reload(grid)
    {
        $("#" + grid).jsGrid("loadData");
    }
    function request(items,typeRequest)
    {
        changeVal(items,form_jsgrid);
        
        var type = {_requestType:typeRequest};
        console.log(type);
        changeVal(type,form_jsgrid);
        var d = $.Deferred();
        $.ajax({
            url:  form_jsgrid.attr('action'),
            type: form_jsgrid.attr('method'),
            data: form_jsgrid.serialize(),
            dataType: 'json'
        }).done(function(response) {
            d.resolve(response['data']);
            resetForm(response,form_jsgrid);
            if (typeRequest != 'get')
            {
                reload("{{ jsgrid.jsgridName }}");
            }
        });
        return d.promise();
    }
    function changeVal(items,form)
    {
        $.each(items,function(i, v) {
            
            var index =  'data[' + i.toLowerCase() + ']';
            var valeur = v;
            form.find('input[name^="data"]').each(function() {
                if (index == $(this).attr('name').toLowerCase())
                {
                    $(this).val(valeur);
                }
                });
        });
    }
    function resetForm (response,form)
    {
        $.each(response,function(i, v) {
            if (i == 'data')
            {
                var index =  'data[_requestid]';
                form.find('input[name^="data"]').each(function() {
                    if (index != $(this).attr('name').toLowerCase())
                    {
                        $(this).val(null);
                    }
                });
            }
            else
            {
                form.find('input[name^="' + i + '"]').each(function() {
                    if (i == $(this).attr('name'))
                    {
                        $(this).val(v);
                    }
                });
            }
        });
    }
    $("#{{ jsgrid.jsgridName }}").jsGrid({
 
        controller: {
            loadData: function(items) {
                return request(items,'get')
            },
            insertItem: function(items) {
                return request(items,'add');
            },
            updateItem: function(items) {
                return request(items,'update');
            },
            deleteItem: function(items) {
                return request(items,'delete');
            }
        },
        autoload: true,
        {% for optionName, option in jsgrid.options %}
            {{ optionName }}:
            {% if option|default(false) %}
                {{ option }}
            {% else  %}
                false
            {% endif  %},
        {% endfor %}
 
        fields: [
            {% for field_name, field in jsgrid.fields %}
                {
                    name: "{{ field_name }}",
                    title: "{{ field.label|default(field_name) }}",
                    {% if field.type == "hidden" %}
                        visible: false,
                        type: text,
                    {% else  %}
                        type: "{{ field.type|default("text") }}",
                    {% endif  %}
                    
                    {% if field.items is defined %}
                        items: {{ field.items }},
                    {% endif  %}
                    {% if field.valueField is defined %}
                        valueField: "{{ field.valueField }}",
                    {% endif  %}
                    {% if field.textField is defined %}
                        textField: "{{ field.textField }}",
                    {% endif  %}
                    {% if field.width is defined %}
                        width: "{{ field.width }}",
                    {% endif  %}
                    {% if field.type == "hidden" %}
                        visible: false,
                    {% endif  %}
                },
            {% endfor %}
            { type: "control" }
        ]
    });
</script>