<div id="jsgrid_{{ jsgrid.getName }}"></div>
<div style="display: none;">
{% include "forms/form.html.twig" with {form: forms(jsgrid.getName)} %}
</div>

<script>
 
    var countries = [
        { name: "", id: 0 },
        { name: "United States", id: 1 },
        { name: "Canada", id: 2 },
        { name: "United Kingdom", id: 3 }
    ];
    
    var form_jsgrid   = $('#{{ jsgrid.getId }}');
    
    function reload(grid)
    {
        $("#" + grid).jsGrid("loadData");
    }
    var changeVal = function (items,form)
    {
        $.each(items,function(i, v) {
            var index =  'data[' + i.toLowerCase() + ']';
            var valeur = v;
            form.find('input[name^="data"]').each(function() {
                if (index == $(this).attr('name'))
                {
                    $(this).val(valeur);
                }
                });
        });
    }
    $("#jsgrid_{{ jsgrid.getName }}").jsGrid({
 
        controller: {
            loadData: function(items) {
                changeVal(items,form_jsgrid);
                var d = $.Deferred();
                console.log(items);
                console.log(form_jsgrid);
                $.ajax({
                    url: form_jsgrid.attr('action'),
                    type: form_jsgrid.attr('method'),
                    data: form_jsgrid.serialize(),
                    dataType: 'json'
                }).done(function(response) {
                console.log(response['form_json_response']);
                    d.resolve(response['form_json_response']);
                    
                });
                return d.promise();
            },
            insertItem: function(items) {
                changeVal(items,form_jsgrid);
                var d = $.Deferred();
                var retour;
                $.ajax({
                    url: form_jsgrid.attr('action'),
                    type: form_jsgrid.attr('method'),
                    data: form_jsgrid.serialize(),
                    dataType: 'json'
                }).done(function(response) {
                    d.resolve(response['form_json_response']);
                });
                reload("jsgrid_{{ jsgrid.getName }}");
                return d.promise();
            },
            updateItem: function(items) {
                changeVal(items,form_jsgrid);
                var d = $.Deferred();
                var retour;
                $.ajax({
                    url: form_jsgrid.attr('action'),
                    type: form_jsgrid.attr('method'),
                    data: form_jsgrid.serialize(),
                    dataType: 'json'
                }).done(function(response) {
                    d.resolve(response['form_json_response']);
                });
                reload("jsgrid_{{ jsgrid.getName }}");
                return d.promise();
            },
            deleteItem: function(items) {
                changeVal(items,form_jsgrid);
                var d = $.Deferred();
                var retour;
                $.ajax({
                    url: form_jsgrid.attr('action'),
                    type: form_jsgrid.attr('method'),
                    data: form_jsgrid.serialize(),
                    dataType: 'json'
                }).done(function(response) {
                    d.resolve(response['form_json_response']);
                });
                reload("jsgrid_{{ jsgrid.getName }}");
                return d.promise();
            }
        },
        autoload: true,
        {% for field_name, field in jsgrid.options %}
                {{ field_name }}:{{ field|default(false) }},
        {% endfor %}
 
        fields: [
            {% for field_name, field in jsgrid.fields %}
                {% if field.type != "hidden" %}
                {
                    name: "{{ field_name }}",
                    title: "{{ field.label|default(field_name) }}", 
                    type: "{{ field.type|default("text") }}",
                    {% if field.items is defined %}
                        items: {{ field.items }},
                    {% endif  %}
                    {% if field.valueField is defined %}
                        valueField: "{{ field.valueField }}",
                    {% endif  %}
                    {% if field.textField is defined %}
                        textField: "{{ field.textField }}",
                    {% endif  %}
                    {% if field.width is defined %}
                        width: "{{ field.width }}",
                    {% endif  %}
                },
                    {% endif  %}
            {% endfor %}
            { type: "control" }
        ]
    });
</script>